{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% block title %}Login{% endblock %}
{% block content %}
<style>
    body {
        background-color: var(--hover-clr-darker);
        color: var(--text-clr-shade);
    }
    #image {
        width: 60px;
        font-weight: 400;
        height: 40px;
        user-select: none;
        text-decoration: line-through;
        font-style: italic;
        font-size: x-large;
        border: red 2px solid;
    }
    #user-input {
        width: auto;
        margin-right: 10px;
        padding: 10px;
        padding-bottom: 0px;
        height: 40px;
        border: red 0px solid;
    }
    #captcha-input{
        height: 30px;
    }
    input {
        border: 1px black solid;
    }
    .inline {
        display: block;
        width: 40px;
        height: 40px;
    }
    #btn {
        color: aqua;
        margin: 10px;
        background-color: brown;
    }
    body{
        background-color: var(--hover-clr-darker);
        color: var(--text-clr-shade);
    }

    :root{
    --base-clr: #11121a;
    --base-clr-lighter: #1a1b24;
    --base-clr-darker: #0b0c11;
    --base-clr-tint: #2d2e3c;
    --base-clr-muted: #181a23;
    --base-clr-shade: #08090d;

    --line-clr: #42434a;
    --line-clr-darker: #36373d;
    --line-clr-lighter: #5a5b61;
    --line-clr-tint: #61626a;
    --line-clr-shade: #2a2b31;
    --line-clr-muted: #505158;
    
    --text-clr: #e6e6ef;
    --secondary-text-clr: #b0b3c1;
    
    --accent-clr: #5e63ff;
    
    --hover-clr: #222533;
    --hover-clr-darker: #1a1c28;
    --hover-clr-lighter: #2b2f3e;
    --hover-clr-tint: #3b3f52;
    --hover-clr-shade: #181a22;
    --hover-clr-muted: #2e3140;
    --text-clr-lighter: #f2f2f9;
--text-clr-darker: #d4d4e3;
--text-clr-muted: #9fa2b2;
--text-clr-tint: #c5c7d8;
--text-clr-shade: #8c8f9f;

--secondary-text-clr-lighter: #c3c6d5;
--secondary-text-clr-darker: #9698a6;
--secondary-text-clr-muted: #8a8ca1;
--secondary-text-clr-tint: #a5a8b8;
--secondary-text-clr-shade: #7e8091;




}
    form{
        width: 260px;
        height: 300px;
        align-content: center;
        margin-top: 20px;
        
        p{
            text-align: center;
            font-size: 17px;
            margin-bottom: 20px;
        }
    }

    .submit-btn{
        background-color: lightseagreen;
        transition: 300ms;
        width: 100px;
    }

    .submit-btn:hover{
        transition: 300ms;
        transform: scale(1.1);
        background-color: var(--hover-clr-lighter);
    
    }
    .login-box{
        background-color: var(--line-clr-darker);
        h2{
            color: var(--text-clr-muted);
            font-size: 30px;
        }
    }

    .sign-up-link{
        color: var(--text-clr-lighter);
    }

    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .login-header{
        margin: 0;
    }

    .sign-up-link{
        
        font-size: 20px;
        transition: 300ms;
        p{
            display: block;
            width: auto;
        }
        a{
            width: auto;
            display: block;
            transition: 300ms;
        }
    }
    
    .sign-up-link:hover{
        a{
            transform: scale(1.1);
        }
     
</style>

<div class="login-box">
    <div class="login-header">
        <h2>Login Here</h2>
    </div>
    <form method="post" onsubmit="return validateCaptcha()">
        {% csrf_token %}
        {% if error %}
        <p style="color: rgb(255, 0, 0);">{{ error }}</p>
        {% endif %}
        <div class="input-box">
            <input type="text" class="input-field" placeholder="Enter your email or username" name="email_or_username" required>
        </div>
        <div class="input-box">
            <input type="password" class="input-field" placeholder="Password" name="password" required>
        </div>
        <div class="input-box">
            <div id="user-input" class="inline">
                <input type="text" id="captcha-input" placeholder="Captcha code" />
            </div>
            <div style="height: 40px; width: 40px; color: #000; display: block; " class="inline" onclick="generateCaptcha()">
                <i class="fas fa-sync">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="hsla(0,0%,92%,1)"><path d="M480-160q-134 0-227-93t-93-227q0-134 93-227t227-93q69 0 132 28.5T720-690v-110h80v280H520v-80h168q-32-56-87.5-88T480-720q-100 0-170 70t-70 170q0 100 70 170t170 70q77 0 139-44t87-116h84q-28 106-114 173t-196 67Z"/></svg>
                </i>
            </div>
            <div id="image" class="inline" selectable="False"></div>
        </div>
        <div class="input-submit">
            <button type="submit" class="submit-btn">Login</button>
        </div>
    </form>
    <div class="sign-up-link">
        <p>Don't have an account?</p>
        <a href="{% url 'teacher_signup' %}" onclick="toggleSignupOptions()">Sign up here</a>
    </div>
    <div id="signup-options" style="display: none;">
    </div>
</div>
<script>
    let captcha;
    function generateCaptcha() {
        document.getElementById("captcha-input").value = "";
        captcha = document.getElementById("image");
        let uniquechar = "";
        const randomchar = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
        for (let i = 1; i < 5; i++) {
            uniquechar += randomchar.charAt(Math.random() * randomchar.length);
        }
        captcha.innerHTML = uniquechar;
    }
    function validateCaptcha() {
        const usr_input = document.getElementById("captcha-input").value;
        if (usr_input === captcha.innerHTML) {
            document.getElementById("key").innerHTML = "Matched";
            return true;
        } else {
            document.getElementById("key").innerHTML = "Not Matched";
            generateCaptcha();
            return false;
        }
    }
    function toggleSignupOptions() {
        var x = document.getElementById("signup-options");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    window.onload = generateCaptcha;
</script>
<p id="key"></p>
{% endblock %}