{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% block title %}Login{% endblock %}
{% block content %}
<style>
    body {
        background-color: var(--hover-clr-darker);
        color: var(--text-clr-shade);
    }
    #image {
        margin-top: 10px;
        box-shadow: 5px 5px 5px 5px gray;
        width: 60px;
        padding: 20px;
        font-weight: 400;
        padding-bottom: 0px;
        height: 40px;
        user-select: none;
        text-decoration: line-through;
        font-style: italic;
        font-size: x-large;
        border: red 2px solid;
        margin-left: 10px;
    }
    #user-input {
        box-shadow: 5px 5px 5px 5px gray;
        width: auto;
        margin-right: 10px;
        padding: 10px;
        padding-bottom: 0px;
        height: 40px;
        border: red 0px solid;
    }
    input {
        border: 1px black solid;
    }
    .inline {
        display: inline-block;
    }
    #btn {
        box-shadow: 5px 5px 5px grey;
        color: aqua;
        margin: 10px;
        background-color: brown;
    }
</style>

<div class="login-box">
    <div class="login-header">
        <h2>Login Here</h2>
    </div>
    <form method="post" onsubmit="return validateCaptcha()">
        {% csrf_token %}
        {% if error %}
        <p style="color: rgb(255, 0, 0);">{{ error }}</p>
        {% endif %}
        <div class="input-box">
            <input type="text" class="input-field" placeholder="Enter your email or username" name="email_or_username" required>
        </div>
        <div class="input-box">
            <input type="password" class="input-field" placeholder="Password" name="password" required>
        </div>
        <div class="input-box">
            <div id="user-input" class="inline">
                <input type="text" id="captcha-input" placeholder="Captcha code" />
            </div>
            <div class="inline" onclick="generateCaptcha()">
                <i class="fas fa-sync"></i>
            </div>
            <div id="image" class="inline" selectable="False"></div>
        </div>
        <div class="input-submit">
            <button type="submit" class="submit-btn">Login</button>
        </div>
    </form>
    <div class="sign-up-link">
        <p>Don't have an account?</p>
        <a href="{% url 'teacher_signup' %}" onclick="toggleSignupOptions()">Sign up here</a>
    </div>
    <div id="signup-options" style="display: none;">
    </div>
</div>
<script>
    let captcha;
    function generateCaptcha() {
        document.getElementById("captcha-input").value = "";
        captcha = document.getElementById("image");
        let uniquechar = "";
        const randomchar = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
        for (let i = 1; i < 5; i++) {
            uniquechar += randomchar.charAt(Math.random() * randomchar.length);
        }
        captcha.innerHTML = uniquechar;
    }
    function validateCaptcha() {
        const usr_input = document.getElementById("captcha-input").value;
        if (usr_input === captcha.innerHTML) {
            document.getElementById("key").innerHTML = "Matched";
            return true;
        } else {
            document.getElementById("key").innerHTML = "Not Matched";
            generateCaptcha();
            return false;
        }
    }
    function toggleSignupOptions() {
        var x = document.getElementById("signup-options");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    window.onload = generateCaptcha;
</script>
<p id="key"></p>
{% endblock %}